container_commands:
  01_collectstatic:
    command: "ls"

option_settings:
  aws:elasticbeanstalk:application:environment:
    DJANGO_SETTINGS_MODULE: WafflePedia.settings
  aws:elasticbeanstalk:container:python:
    WSGIPath: WafflePedia.wsgi:application
  aws:elasticbeanstalk:environment:proxy:staticfiles:
    /static: static